@import '~bootstrap/scss/bootstrap';

img {
    max-width: 100%;
}

.scrollable-content {
    max-height: 300px;
    overflow-y: auto;
}

.welcome_jumbotron {
    background-image: url('images/jumbo.jpg');
    background-position: center;
    background-size: cover;
}